[submodule "yapb"]
	path = 3rdparty/yapb
	url = https://github.com/jeefo/yapb

[submodule "android/extras_src/extras"]
	path = 3rdparty/extras
	url = https://bitbucket.org/SergioPoverony/cs16client-vgui-menus
[submodule "3rdparty/regamedll"]
	path = 3rdparty/regamedll
	url = https://github.com/FWGS/regamedll
[submodule "mainui"]
	path = mainui
	url = https://github.com/FWGS/mainui_cpp
